@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: lightblue;
}
div {
  background: lightgray;
  border: 1px solid black;
  border-radius: 50px;
  height: 200px;
  width: 300px;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 40px;
  line-height: 30px;
}
h3 {
  line-height: 10px;
}
p {
  line-height: 10px;
}
