:root {
  --primary-color: #444;
  --secondary-color: #fff;
  --btn-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #444;
  --btn-color: #000;
}

body {
  margin: none;
}

html,
body {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  color: var(--primary-color);
  height: 110%;
  font-family: monospace;
  background: var(--secondary-color);
  justify-content: center;

}

/*Navigation*/
nav {
  margin: auto;
  max-width: 1000px;
  width: 80vw;
  height: 40px;
  border-bottom: 1px solid var(--primary-color);

}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
nav ul li {
  list-style-type: none;
  margin: 0 0.5vw;
  font-size: 20px;
}
.nav {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 2vw;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
  font-family: monospace;
  display: flex;
  line-height: 4px;
}

.chapter:last-child {
  padding: 0 0 20px 0;
}
/* Main Page*/
.first h1 {
  font-size: 40px;
  text-align: center;
  padding: 30px;
  margin: 50px;
}

.first p {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: auto;
}
.second,
.third,
.forth {
  margin: 0 10px;
}
#footer {
  display: inline;
  margin: auto;
}
/*About me*/
.Jason {
  padding: 5rem;
  margin: 5rem;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
/*blog*/

.content {
  font-size: 16px;
}
.side_text {
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
}
.social {
  display: flex;
  justify-content: center;
}
.twitter {
  height: 30px;
  width: 30px;
  padding: 20px;
}
.github {
  height: 30px;
  width: 30px;
  padding: 20px;
}

.outside-button {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: center;
}
.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 25px;
  margin: 20px;
  background-color: var(--btn-color);
  color: #000;
  border: 2px solid black;
  border-radius: 50px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.prev,
.next {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid black;
  list-style-type: none;
  background-color: #fff;
  color: black;
  width: 80px;
  height: 30px;
  outline: none;
}

.prev {
  float: left;
}

.next {
  float: right;
}

/*Blog Images*/

.stand{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: 80%;
}

.image{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  max-height: 40%;
}
.image2{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  max-height: 35%;
}


/*Project Page*/

.project {
  text-align: center;
  justify-content: center;
}

.design {
  display: inline-block;
  height: 100px;
  width: 200px;
  border: black solid 1px;
  border-radius: 10px;
  box-shadow: 3px 3px black;
  margin: 10px;
  font-size: 10px;
}

/* Resources Page */

.description{
  text-align: center;
  font-size: 1.5rem ;
}
.free,
.paid,
.youtube,
.reddit,
.full,
.radio{
  margin:1rem;
  text-align: center;
}

.free ul,
.paid ul,
.youtube ul,
.reddit ul,
.full ul,
.radio ul{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}


.free ul li,
.paid ul li,
.youtube ul li,
.reddit ul li,
.full ul li,
.radio ul li{
  margin:1rem;
  padding:0;
  font-size: 1.4rem;
  list-style-type: none;
  text-align:center;
}
.free ul li a,
.paid ul li a,
.youtube ul li a,
.reddit ul li a,
.full ul li a,
.radio ul li a{
  text-decoration: none;
  color: var(--primary-color);
}


/* Grid Area */
.Jason {
  margin: auto;
  grid-area: jason;
}
nav {
  grid-area: nav;
}
.first {
  grid-area: first;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}
.forth {
  grid-area: forth;
}
.foot {
  grid-area: foot;
}
.content {
  grid-area: blog;
}
.side_info {
  grid-area: side;
}
.prev-btn .next-btn {
  grid-area: btn;
}
.description{
  grid-area:description;
}
.free{
  grid-area:free;
}
.paid{
  grid-area:paid;
}
.youtube{
  grid-area:youtube;
}
.reddit{
  grid-area:reddit;
}
.full{
  grid-area:full;
}
.radio{
  grid-area:radio;
}

.wrapper {
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "first first first"
    "second third forth"
    "foot foot foot";
}
.about-wrapper {
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "jason first first"
    "second third forth"
    "foot foot foot";
}

.blog-wrapper {
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "side blog blog"
    "btn blog blog"
    "foot foot foot";
}

.resources-wrapper {
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "nav nav nav"
  "description description description"
  "free paid youtube"
  "full radio reddit"
  "foot foot foot";
}
@media only screen and (max-width: 794px) {
  .wrapper {
    font-size: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "first"
      "second"
      "third"
      "forth"
      "foot";
  }
  .about-wrapper {
    font-size: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "first"
      "second"
      "third"
      "forth"
      "foot";
  }
  .blog_wrapper {
    margin: 20px;
    font-size: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "side"
      "blog"
      "foot";
  }
  .Jason{
    display:none;
  }
  .resources-wrapper {
    display: grid;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: 1fr ;
    grid-template-areas:
    "nav"
    "description"
    "free"
    "paid"
    "youtube"
    "full"
    "radio"
    "reddit"
    "foot";
  }
}